.topnav {
    background-color: crimson;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav h4 {
    color: white;
    float: left;
    margin: 15px;
  }

  .topnav img{
      float: left;
      margin: 10px;
      width: 100px;
  }
