<div class="container">
    <div class="welcome">
        <h3>Hello, welcome to Pokemon Trainer!</h3>
    </div>
    <div class="trainername"></div>
    <input type="text" placeholder="Enter trainer name" #namebox>
    <button class="btn" (click)="getName(namebox.value)">Press to enter</button>
</div>