.container {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
  background-color: rgba(0,0,0,0);
}

.btn {
  background-color: rgba(0,0,0,0);
  transition-duration: 0.4s;
  border: skyblue;
}
  
.btn:hover {
  background-color: darkblue;
  color: white;
}
