<div class="cataloge">
  <div class="searchbar">
    <div class="nes-field is-inline">
      <button class="nes-btn is-error inline_field" (click)='searchPokemons(searchbar.value)'>Search</button>
      <input type="text" id="inline_field" class="nes-input" placeholder="Search for pokemons" #searchbar>
    </div>
  </div>
  <div class="container">
    <div *ngFor='let pokemon of pokemons'>
      <div class="card" (click)='getDetails(pokemon.id)' [style.background]='setCardColour(pokemon.types[0].type.name)'>
        <img
          class="card-img-top mx-auto d-block"
          [src]="pokemon.imgsrc"
          style="width: 10em"
          onerror="this.onerror=null;this.src='../../assets/images/unknown.png';"
          loading="lazy"
          [alt]="pokemon.name"
        />
        <div class="card-body">
          <h3 class="card-title" style="text-transform: capitalize;">
            {{ pokemon.name }}
          </h3>
        </div> 
        <div class="grid-types">
          <div *ngIf='pokemon.types.length > 1'>
            <h5>{{pokemon.types[0].type.name}}, {{pokemon.types[1].type.name}}</h5>
          </div>
          <div *ngIf='pokemon.types.length == 1'>
            <h5>{{pokemon.types[0].type.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='navbtns'>
    <button type="button" class="nes-btn is-primary" (click)='navigatePrev()'>Previous page</button>
    <button type="button" class="nes-btn is-primary" (click)='navigateNext()'>Next page</button>
  </div>
</div>