
div.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
    padding: 50px;
}

div.card {
    border-radius: 12px;
    background-color: rgba(24, 145, 220, 0.52);
    text-align: center;
    color: seashell;
    padding: 7px;
}

div.navbtns{
    display: flex;
    justify-content: center;
}

.navbtns .nes-btn {
    margin: 20px;
    width: 20%;
}

div.searchbar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nes-input {
    background: transparent;
}