/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../node_modules/nes.css/css/nes.css";

html, body {
    font-family: 'Press Start 2P', cursive;
}

body { 
    background: rgb(135, 195, 215) 	 url('https://img3.goodfon.com/wallpaper/nbig/f/82/squirtle-svirtl-pokemon-4206.jpg');
}
